<p id="notice"><%= notice %></p>

<img src="<%= @fb_item['image_url'] =%>" width="100%" />
<div style="padding:5px;padding-bottom" >
<div style="border-radius: 10px; padding:10px; background-color:#CCCCCC; font: 14pt/1.5em Helvetica,'Helvetica neue', Arial, sans-serif;box-shadow: 2px 2px 2px #000;">
  <%= @fb_item['description'] %>
</div>
</div>